#!/bin/bash

if [ $# -ne 2 ] || [ "$1" != "-c" ] ; then
  echo interactive login not permitted
    exit 1
    fi

case "$2" in
<%- @commands.each do |cmd| -%>
  <%= cmd %> )
    ;; # continue execution
<%- end -%>
  * )
    echo "$2 is not allowed"
    exit 1;
    ;;
esac 

/bin/bash -c "$2"
